.navbar {
  &__desktop-navigation {
    li:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__mobile-navigation {
    li {
      text-align: left;
      align-self: stretch;
    }
    li:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
