.portfolio {
  &__image-container {
    height: 500px;
    .ant-image {
      height: 100%;
      width: 100%;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__project-cta {
    z-index: 999;
  }
}
